body
{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(56, 69, 69);
    color: white;
    background-size: cover;
}


#profile-cont
{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.pic
{
    height: 200px;
    width: 200px;
    background-color: wheat;
    border-radius: 50em;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    box-shadow: 5px 5px 10px black;
}


#profile-pic  button
{
    padding: 5px;
    width: 100%;
    margin: 5px;
    border-radius: 20px;
    border: none;
    background-color: red;
    box-shadow: 5px 5px 10px black;
    color: white; 
}

#user-details
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box1,.box2,.box3,.box4
{
    border-radius: 50em;
    width: 150px;
    height: 150px;
    text-align: center;
    box-shadow: 5px 5px 20px black;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box h3,p
{
    margin: 30px;
}

.box1
{
    border-color: rgb(13, 169, 13);
}
.box2
{
    border-color: rgb(222, 222, 11);
}
.box3
{
    border-color: rgb(233, 73, 73);
}
.box4
{
    border-color: rgb(240, 13, 13);
}


#table 
{   
    width: 100%;
    margin-top: 5px;
    height: fit-content;
    border-collapse: collapse;
    text-align: center;
}
#table  td,th
{
     padding: 10px;
     font-size: 18px;
     border-style: solid;
    
}

/* Styles for mobiles */

@media (max-width:400px)
{

 #table
 {
   width: 50vw;
 }     




}